DATABASE_URL=postgresql://postgres:postgres@localhost:5432/main?schema=public
PROXY_PASSWORD=1234
CF_BUCKET=bucket-name
CF_ACCOUNT_ID=example
CF_API_KEY=1234
CF_CDN_URL=https://example.domain.com
S3_ACCESS_KEY_ID=1234
S3_SECRET_ACCESS_KEY=1234
